// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
//$background-color:  #ec663c;
$background-color:  #ec663c;

//$title-color:       rgba(255, 255, 255, 1.5);
$title-color:       rgba(14, 16, 14, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

.blink{
    -webkit-animation: blink 1400ms infinite alternate;
    -moz-animation: blink 1400ms infinite alternate;
    -o-animation: blink 1400ms infinite alternate;
    animation: blink 1400ms infinite alternate;
}
@-webkit-keyframes blink {
        from { opacity:1; }
        to { opacity:0; }
}
@-o-keyframes blink {
        from { opacity:1; }
        to { opacity:0; }
}
@-moz-keyframes blink {
        from { opacity:1; }
        to { opacity:0; }
}
@keyframes blink {
        from { opacity:1; }
        to { opacity:0; }
};


// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  padding: 3px 10px;
  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 85px;
  }
}

