<% content_for :title do %>Previous Month SLA<% end %>
<div class="gridster">
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="color:#04B404" style="font-size: 95px">Previous Month SLA</div></center>
<center><div style="color:#FF0000" style="font-size: 15px">-Data Source-</div></center>
<center><div style="font-size: 15px">Monitis.com</div></center>
  <ul>



<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="monthly_sla_widget" data-view="List" data-unordered="true" style="background-color:#94b8b8" data-title="December 2017 SLA" data-moreinfo="NextGen Products"></div>
</li>




  </ul>
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="font-size: 15px">Live Data(Every 60s)</div></center>
<center><div style="font-size: 15px">&nbsp;</div></center>
</div>
