<% content_for :title do %>Current Gen<% end %>
<div class="gridster">
<center><div style="color:#FF0000" style="font-size: 15px">-Data Source-</div></center>
<center><div style="font-size: 15px">Monitis.com</div></center>
  <ul>

<li data-row="1" data-col="1" data-sizex="5" data-sizey="5">
<img src="assets/NGCR.jpg">
</li>

<!--
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='';">
  <div data-id="allregs_widget"  data-view="Text" data-title="AllRegs" </div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='';">
  <div data-id="allregs_widget"  data-view="Text" data-title="AllRegs" </div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='http://<%=request.host%>:<%=request.port%>/monitis';">
    <div data-id="gohome_widget" data-view="Text" data-title="Go DashBoard Home"</div>
 </li>

-->


  </ul>
<center><div style="font-size: 15px">&nbsp;</div></center>
<center><div style="font-size: 15px">Click Any Box</div></center>
<center><div style="font-size: 15px">Live Data(Every 60s)</div></center>
<center><div style="font-size: 15px">&nbsp;</div></center>
</div>
